
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<h2 class="text-center">Sign up</h2>
  <%= f.error_notification %>

  
    <%= f.input :email, required: true, autofocus: true, label:false, placeholder: "Email", input_html: {class: "form-control"}%>
    <%= f.input :password, required: true, lable: false, placeholder: "Password", input_html: {class: "form-control"} %>
    <%= f.input :password_confirmation, required: true, lable: false, placeholder: "Password Confirmation", input_html: {class: "form-control"} %>
  
    <%= f.button :submit, "Sign up", class: "btn btn-primary btn-block" %>
  
<% end %>

<%= render "devise/shared/links" %>
