<div class="panel panel-info">	
  <div class="panel-heading">	
	  <%= link_to edit_task_path(task) do %>
		Created <%= time_ago_in_words(task.created_at) %> ago 
	<% end %>
	<%= link_to 'X', task_path(task), method: :delete, data: {confirm: "Are you sure?"}, class: 'pull-right' %>
  </div>
		<div class="panel-body"><%= raw(task.content_html) %></div>
	<div class="panel-footer text-center">
	<% if task.state == 'doing' %> 
	  <%= link_to "<i class ='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "to_do"), method: :put  %>
	  <%= link_to "<i class ='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "done"), method: :put  %>
	<% elsif task.state == 'done' %>
	  <%= link_to "<i class ='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "doing"), method: :put %>
	<% else %>
	  <%= link_to "<i class ='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "doing"), method: :put  %>
	<% end %>   
	</div>
</div>