<div class="jumbotron">
	<h1><i class= "fa fa-circle-o-notch"></i>Todo</h1>
	<p>This is my smart do list Ruby on Rails App</p>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>
